AdobePoker.xcodeproj/xcuserdata
build
ZXPInstaller/zlib
ZXPInstaller/expat
ZXPInstaller/boost
ZXPInstaller/sqlite
AdobePoker.xcodeproj/project.xcworkspace
AdobePoker/Debug/
*.sdf
AdobePoker/ipch/
